<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573000768652-jv1bmo0dcbe63fb44p5635o7hea66ccm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573000768652-jv1bmo0dcbe63fb44p5635o7hea66ccm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573000768652-1un9d1pndc6trcvn7dn2unn5gdjpl3sd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzhphJGytLyNp1ii6liqQqqsv_fkCZTuk</string>
	<key>GCM_SENDER_ID</key>
	<string>573000768652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eccatapp</string>
	<key>PROJECT_ID</key>
	<string>vscodeflutter-346d2</string>
	<key>STORAGE_BUCKET</key>
	<string>vscodeflutter-346d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573000768652:ios:e30a1dbb6755451904efa9</string>
	<key>DATABASE_URL</key>
	<string>https://vscodeflutter-346d2-default-rtdb.firebaseio.com</string>
</dict>
</plist>